body {
    background-color: #020024;
}

.main {
    /* Centre the text */
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 100vh;
    padding: 10px;
    justify-content: center;
    text-align: center;
    top: 50%;

    /* Background color */
    color: whitesmoke;
    border-radius: 10px;

    animation-name: example;
    animation-duration: 2s;

    font-family: 'Caveat', cursive;
}

button {
    border-radius: 10px;
    font-family: 'Caveat', cursive;
    background-color: #19164b;
    color: whitesmoke;
    padding-left: 10em;
    padding-right: 10em;
}

/* The animation code */
@keyframes example {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }
