@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



:root {
  --dark-bg: #162b4b;
  --spacing: 75px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: small
  
}

main {
  background-color: #091320;
}

:root a {
  text-decoration: none;
  font-style: italic;
  /* padding-right: 2px; */
  color: #655fdb;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-align: center;

  padding: 10px;
}

.column {
  flex: 1;
  padding: 10px var(--spacing);  


}

.column img {
  vertical-align: middle;
}


main {
  width: 100%;

  color: white;
  z-index: 99;
  position: absolute;

  margin: 0px auto;
  padding: 30px 0px;

  display: flex;
  flex-direction: column;


  animation-name: example;
  animation-duration: 2s;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pfp {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}



  header {
    background: var(--dark-bg);
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: var(--spacing);
    text-align: center;
    border-radius: 10px;
  }

  section {
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    border-radius: 10px;
  }

  blockquote {
    /* margin: 5px; */
    /* padding: 10px; */
    margin-bottom: var(--spacing);
    border-radius: 10px;
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 2rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
    border-radius: 10px;
  }

  /* The animation code */
@keyframes example {
  0%   {opacity: 0%;}
  100% {opacity: 100%;}
}